:root {
    --bl-primary-color: #948afc;
    --bl-primary-color-subtle: #948afc7e;
    --bl-secondary-color: #FFACE4;
    --bl-secondary-color-subtle: #FFACE47e;
    --bl-tertiary-color: #1A1B41;
    --bl-dark-purple: rgba(75, 0, 130, 1);
    
    --bl-exciting-bg-img: linear-gradient(90deg, var(--bl-primary-color), var(--bl-secondary-color));
}
