{% extends "base.html" %}
{% load static %}

{% block title %}Kennenlerngespräch bestätigt{% endblock %}

{% block body %}
<div class="max-w-lg mx-auto px-4 py-16 text-center">

  <div class="flex items-center justify-center w-16 h-16 mx-auto mb-6 rounded-full bg-green-100">
      <img src="{% static 'icons/check.svg' %}"
          alt="Erfolgreich"
          class="w-8 h-8 text-green-600">
  </div>
  <h1 class="text-2xl font-bold text-neutral-800 mb-3">Coaching kann starten!</h1>
  <p class="text-neutral-600">
    Du hast nach deinem Kennenlerngespräch mit {{ participant_name }} bestätigt, dass das Coaching aus deiner Sicht starten kann.
  </p>

  <p class="mt-6 text-neutral-600">
    Wir werden nun {{ participant_first_name }} fragen, ob alles in Ordnung ist und ob es losgehen kann. Sobald wir eine Rückmeldung haben, melden wir uns wieder bei dir.
  </p>

</div>
{% endblock %}
